Options -Indexes
allow from all

<IfModule mod_rewrite.c>
    Options -MultiViews


    RewriteEngine On
    RewriteCond  %{DOCUMENT_ROOT}/Search/web/$1 -f
    RewriteRule  ^(.*)$  /Search/web/$1  [L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ bootstrap.php [QSA]
</IfModule>
