html, body{
    padding:0;
    margin:0;
    width:100%;
    height:900px;
    font-family: sans-serif;
    overflow: hidden;
}

.logo {
    position: absolute;
    background-image: url('../images/Logo.png');
    height: 100px;
    width: 126px;
    background-size: 126.5px 100px;
    background-repeat: no-repeat;
    margin-left: 0px;
    top:0px;
    z-index:0;

}


.logo2 {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-left: 130px;
    padding: 1px;
    color: darkslategrey;
    top: 0px;
    z-index: 0;
}


.map {
    height: 400px;
    width: 100%;
}

.navbar.navbar-default {
    top: 100px;
    margin-bottom: 0;
    border: 1px solid lightgrey;

}
.map-container {
   height: 100%;
}

#map{
    padding:0;
    top: 152px;
    margin:0;
    height:100%;
    left: 0px;
    z-index: 0;
    position: absolute;
}

.legende {
    width:240px;
    left: 30px;
    top: 100px;
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:10px;
    border-right: 1px solid #ddd;
    height: 700px;
    overflow:auto;
    float: left;
    z-index: 1;
    position: relative;
    border-radius:2px;
}

.layers{
    width:33px;
    top: 100px;
    border-radius:2px;
    background-image: url('../Images/index.png');
    left: 20px;
    height:33px;
    float:left;
    text-indent: 100%;
    text-color: transparent;
    overflow: hidden;
    z-index: 1;
    position: relative;

}

.layers:hover {
    text-indent: 0%;
    text-color: white;
    width: 205px;
    height: 700px;
    overflow-y: auto;
    left: 30px;
    background-image: none;
    background-color: rgb(37, 42, 58);
}

#close-info {
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../Images/Close white.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
}


#info{
    width:230px;
    background-color: rgb(37, 42, 58);
    position: fixed;
    right: 0px;
    z-index: 1000;
    height: 100%;
    display:none;
    color: white;
    overflow:auto;
    top: 152px;
}


.layertitle{
    padding-top: 40px;
    padding-left: 20px;	
    color: rgb(75, 113, 151);
    font-size: 12pt;
}

.infotitle{
    padding-top: 10px;
    padding-left: 10px;	
    color: rgb(75, 113, 151);
    font-size: 12pt;
    font-weight:bold;
}

.infoobject{
margin-left:15px;
margin-right:5px;
border-left: 2px solid #DE6800;
margin-top:10px;
margin-bottom:10px;
padding:3px;
}

.infoname{
font-weight:bold;
background-color:#373C5A;
font-size: 9pt;
padding-top:2px;
padding-bottom:2px;
}

.infopar{
font-size: 8pt;
padding-top:2px;
padding-bottom:2px;	
}

.infopar a{
color:	#DE6800;
text-decoration:none;
}

.infopar a:hover{
text-decoration:none;
}

a:focus, a:hover {
    color: white;
    text-decoration: none;
}

#legende_knop{
    left: 130px;
    top: 15px;
    position: absolute;
    background-image:  url('../Images/Legend.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

#legende_knop:hover{
    top: 10px;

}



#two{
    visibility:visible;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DADADA;
    color: #333333;
    overflow:hidden;
    left: 10px;
    line-height: 20px;
    position: absolute;
    top: -20px;.
    z-index: 5;
}

.popupBox {
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    -moz-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    -o-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    transition:visibility 0s linear 0.3s, opacity 0.3s linear;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition:all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay:0s;
    transition-delay: 0s;
    z-index: 5;

}
.popupHoverElement:hover > .popupBox {
    visibility:visible;
    opacity:1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    z-index: 5;
}

#insert-link{
    top: 15px;
    left: 50px;
    position: absolute;
    background-image:  url('../Images/Insert.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}


#insert-link:hover{
        top: 10px;

}

#info-link{
     left: 90px;
    top: 15px;
    position: absolute;
    background-image:  url('../Images/info.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}
#info-link:hover{

    top: 10px;
    }



#Div3 {
    height: 400px;
    width: 400px;
    left: 600px;
    top: 100px;
    color: black;
    z-index: 5;
    position: absolute;
    background: white;
    border: 1px solid #999;


}

#button_close {
    left: 380px;
    top: 0px;
    height: 20px;
    width: 20px;
    background-image: url('../Images/button_close.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    position: relative;
}


#draw-link{
    right: 100px;
    position: absolute;
    background-image:  url('../Images/draw.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;
}

#draw-link:hover{
top: 10px;
}


#depth-link{
    right: 140px;
    position: absolute;
    background-image:  url('../Images/Depth.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;
}

#depth-link:hover{
    top: 10px;

}
#measure-link{
    right: 180px;
    position: absolute;
    background-image:  url('../Images/tool.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;
}

#measure-link:hover{

    top: 10px;
}


#share-link{
    right: 220px;
    position: absolute;
    background-image:  url('../Images/social.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;
}

#share-link:hover {
    top: 10px;
}

#print-link{
    right: 260px;
    position: absolute;
    background-image:  url('../Images/printer.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;
}


#print-link:hover{

    top: 10px;

}

#question-link{
    right: 300px;
    position: absolute;
    background-image:  url('../Images/question.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;
}




#question-link:hover{
    top: 10px;

}

#fullscreen-link{
    right: 60px;
    position: absolute;
    background-image:  url('../Images/fullscreen.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;
}

#fullscreen-link:hover{
    top: 10px;

}


#search-link{
    left: 170px;
    position: absolute;
    background-image:  url('../Images/search2.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 15px;
    height: 20px;
    width: 20px;

}
#search-link:hover{
    top: 10px;

}


.layer, .layer_active{
    width:200px;
    text-decoration:none;
    color:white;
    display:block;
    color: white;
    padding-left: 30px;
    font-size: 10pt;
    padding-top: 7px;
    padding-bottom:7px;
    cursor:pointer;
}

.layer_active{
    border-right: 10px solid #DE6800;
    width: 190px;
}

.layer:hover{
    background-color:#373C5A;	
}

.layer_active:hover{
    background-color:#FFAD65;	
}



.legende_content{
   padding-top:0px;
   padding-right:10px;
}

.legende_item {
    padding-top: 5px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    line-height: 35px;
}

.display-none {
    display: none;
}

/*D3 chart */
.form_control{
    color: grey;
}

.colored circle {
    fill:red;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

#depthsvg {
    height: 400px;
    width: 300px;
}

