.logo {
    background-image: url('../images/Logo.png');
    background-size: 126px 100px;
    background-repeat: no-repeat;
    width: 126px;
    height: 100px;
}

#logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.logo2 {
    text-align: right;
    max-width: 15ch;
    padding: 1px;
    color: darkslategrey;
}

.navbar-default ul.nav li > a {
    padding: 15px;
}

.navbar-default ul.nav li > .icon {
    margin: 15px;
}

.navbar-collapse.collapse.in {
    overflow-x: hidden;
}

.navbar-collapse.collapse.in li {
    float:right;
}

ul.nav li, .navbar-default ul.nav li a, .navbar-default ul.nav li a:hover {
    color: transparent;
}

ul.nav li .icon {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

#output .icon {
    background-image:  url('../images/Geef info.png');
}

#insert-link .icon {
    background-image:  url('../images/Insert.png');
}

#info-link .icon {
    background-image:  url('../images/info.png');
}

#polygon-link .icon {
    background-image:  url('../images/polygon.png');
}

#draw-link .icon {
    background-image:  url('../images/draw.png');
}

#depth-link .icon {
    background-image:  url('../images/Depth.png');
}

#measure-link .icon {
    background-image:  url('../images/tool.png');
}

#share-link .icon {
    background-image:  url('../images/social.png');
}

#download-link .icon {
    background-image:  url('../images/download.png');
}

#question-link .icon {
    background-image:  url('../images/question.png');
}

#fullscreen-link .icon {
    background-image:  url('../images/fullscreen.png');
}

#search-link .icon {
    background-image:  url('../images/search2.png');
}

#depthpoint-link .icon {
    background-image:  url('../images/Depth_point.png');
}

#legende_knop .icon {
    background-image:  url('../images/Legend.png');
}
